# PyCharm, MacOS files
.idea/
.DS_Store

# local environment
.venv/
.env

# test coverage files
.coverage
coverage.xml

# tests cache
.pytest_cache/
__pycache__

# some local files
zluuba_art/static/images/others/
