{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="logo-container">
        <a href="{{ url_for('main_page') }}">
            <img src="{{ url_for('static', filename='images/logo-grey.png') }}" alt="Logo">
        </a>
    </div>
    <div class="content-main">
        <main class="intro error-page-intro">
            <h1>Oops, something went wrong</h1>
            <p>
                Our server is doing its best, but it seems a bit tired right now. <br>
                Please refresh the page or try again later.
            </p>
            <a href="{{ url_for('main_page') }}">Go Home</a>
        </main>
    </div>
    {% include 'footer.html' %}
</div>

{% endblock %}