{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="logo-container">
        <a href="{{ url_for('main_page') }}">
            <img src="{{ url_for('static', filename='images/logo-grey.png') }}" alt="Logo">
        </a>
    </div>
    <div class="content-main">
        <main class="intro error-page-intro">
            {% block error_body %}
            {% endblock %}
            <a href="{{ url_for('main_page') }}">Go Home</a>
        </main>
    </div>
    {% include 'footer.html' %}
</div>

{% endblock %}