{% extends "layout.html" %}

{% block body %}

<div class="projects-container">
    <div class="projects-header">
        <div class="projects-title">
            <h1>CV</h1>
        </div>
        <div class="logo-container projects-logo-container">
            <a href="{{ url_for('main_page') }}">
                <img src="{{ url_for('static', filename='images/logo-grey.png') }}" alt="Logo">
            </a>
        </div>
    </div>
    <div class="projects-content">
        <div class="project">
            <h1 class="cv-header">Luybov Nikitina</h1>
            <h2 class="cv-sub-header">Python Developer</h2>
            <div class="cv-block">

                <!--------------------    CV PDF   -------------------->
                <p class="plain">
                    <a href="{{ url_for('static', filename='docs/cv-nikitina-luybov-python-en.pdf') }}" target="_blank">
                        PDF CV (English)
                    </a>
                    <br/>
                    <a href="{{ url_for('static', filename='docs/cv-nikitina-luybov-python-ru.pdf') }}" target="_blank">
                        PDF CV (Russian)
                    </a>
                </p>

                <!--------------------   about me   -------------------->

                <div class="header-container">
                    <h2 class="main-sub-header">>></h2>
                    <div class="cv-line"></div>
                </div>

                <p class="plain">
                    I've been learning Python and programming
                    <em class="light">since 2022</em>, focusing on backend development.
                    I also have experience in
                    <em class="light">DevOps and frontend development </em> with JavaScript.

                    <br/>
                    <br/>

                    My projects include an <em class="light">asynchronous</em>
                    CLI tool with recursive file system traversal,
                    a large console application with games and an
                    <em class="light">achievement system</em>,
                    and a personal website deployed using
                    <em class="light">Docker and Nginx</em>.
                    I've also created various web applications, which you can find on my GitHub page.

                    <br/>
                    <br/>

                    I enjoy <em class="light">participating in hackathons</em>.
                    Our team's next one is ExpoHack (August 1-10) - wish us luck.
                    Currently, I'm reading "Clean Architecture" by Uncle Bob,
                    preparing myself for the challenge of tackling the DDIA book next.

                    <br/>
                    <br/>

                    I'm <em class="light">passionate about programming</em>
                    as a concept and plan to explore Zig/Rust and core development
                    through Go and C in the future.
                    If you're looking for a developer with
                    <em class="light">high potential, ambition, and talent</em>,
                    I'd be excited to discuss potential collaboration and demonstrate these qualities in my work ;)

                    <br/>
                    <br/>

                    That's all.
                    Thanks for reading, and a big saranghae.

                </p>
                <br/>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>

{% endblock %}
