{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="logo-container">
        <a href="{{ url_for('main_page') }}">
            <img src="{{ url_for('static', filename='images/logo-grey.png') }}" alt="Logo">
        </a>
    </div>
    <div class="content-main">
        <div class="intro">
            <h1 id="greeting">Hello</h1>
            <p>You can call me Lua. <br/>
                I'm a Python Backend dev who, of course, needs his own website.
                So here we are. <br/>
                Nice to see you there, btw.
            </p>
        </div>
        <div class="line"></div>
        <div class="links">
            <a href="{{ url_for('cv_page') }}">CV</a>
            <a href="{{ url_for('projects_page') }}">Projects</a>
            <a href="{{ url_for('links_page') }}">Links</a>
        </div>
    </div>
    <footer class="main-footer">
        <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    </footer>
    <script src="{{ url_for('static', filename='js/greeting.js') }}"></script>
</div>

{% endblock %}
