{% extends "layout.html" %}

{% block body %}

<div class="logo-container">
    <a href="{{ url_for('main_page') }}">
        <img src="static/images/logo-grey.png" alt="Logo">
    </a>
</div>

<div class="container">
    <main class="intro error-page-intro">
        <h1>Oops, something went wrong</h1>
        <p>Brace yourself till we get the error fixed. <br>
            You may also refresh the page or try again later</p>
        <a href="{{ url_for('main_page') }}">Go home</a>
    </main>
</div>

{% endblock %}