<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lua's Personal Website">
    <title>Best employee is right here</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='images/apple-touch-icon-precomposed-152x152.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>
