<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lua's Personal Website">
    <title>zluuba</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon-96x96-purple-n-shadow.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed-152x152.png">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    {% block body %}
    {% endblock %}
    <div class="author-name">
        <a href="https://github.com/zluuba">2024, by zluuba</a>
    </div>
</body>
</html>
