{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="logo-container">
        <a href="{{ url_for('main_page') }}">
            <img src="{{ url_for('static', filename='images/logo-grey.png') }}" alt="Logo">
        </a>
    </div>
    <div class="content-main">
        <div class="intro">
            <h1>Links</h1>
            <p>Here, you can find my GitHub, message me on Telegram
                or visit my Twitter profile to see some nice memes. <br/>
                Don't be shy to reach out, I'm very friendly.
            </p>
        </div>
        <div class="line"></div>
        <div class="links">
            <a href="https://github.com/zluuba" target=”_blank”>GitHub</a>
            <a href="https://t.me/zluuba" target=”_blank”>Telegram</a>
            <a href="https://www.linkedin.com/in/zluuba" target=”_blank”>LinkedIn</a>
        </div>
    </div>
    <footer class="main-footer">
        <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    </footer>
</div>

{% endblock %}
