{% extends "layout.html" %}

{% block body %}

<div class="projects-container">
    <div class="projects-header">
        <div class="projects-title">
            <h1>Projects</h1>
        </div>
        <div class="logo-container projects-logo-container">
            <a href="{{ url_for('main_page') }}">
                <img src="{{ url_for('static', filename='images/logo-grey.png') }}" alt="Logo">
            </a>
        </div>
    </div>
    <div class="projects-content">
        <div class="project-header">
            <a href="{{ url_for('project_page', project='zluuba-art-website') }}">zluuba.art (website)</a>
            <p>mastery of DevOps with Nginx, Docker, Python, JavaScript, CSS, and HTML.</p>
        </div>
        <div class="project-header">
            <a href="{{ url_for('project_page', project='games-of-terminal') }}">Games Of Terminal</a>
            <p>collection of classic games for console env: 5k lines of pure Python,
                featuring a beautifully self-made GUI, an achievement system, and an endless amount of features.</p>
        </div>
        <div class="project-header">
            <a href="{{ url_for('project_page', project='task-manager') }}">Task Manager</a>
            <p>basic CRUD web-app developed with Django, featuring authorization, authentication
                and several different models. It is served with Bootstrap, adding a beautiful UI touch to this project.</p>
        </div>
        <div class="project-header">
            <a href="{{ url_for('project_page', project='page-analyzer') }}">Page Analyzer</a>
            <p>mini web-app built on Flask, and designed to analyze specified pages for SEO suitability.</p>
        </div>
    </div>
    {% include 'footer.html' %}
</div>

{% endblock %}
