{% extends "layout.html" %}

{% block body %}

<div class="projects-container">
    <div class="projects-header">
        <div class="projects-title">
            <h1>Projects</h1>
        </div>
        <div class="logo-container projects-logo-container">
            <a href="{{ url_for('main_page') }}">
                <img src="{{ url_for('static', filename='images/logo-grey.png') }}" alt="Logo">
            </a>
        </div>
    </div>
    <div class="projects-content">
        <div class="project-header">
            <a href="{{ url_for('zluuba_art_website_project') }}">zluuba.art (website)</a>
            <p>mastery of DevOps with Nginx, Docker, Python, JavaScript, CSS, and HTML.</p>
        </div>
        <div class="project-header">
            <a href="{{ url_for('games_of_terminal_project') }}">Games Of Terminal</a>
            <p>collection of classic games for console env: 5k lines of pure Python,
                featuring a beautifully self-made GUI, an achievement system, and an endless amount of features.</p>
        </div>
        <div class="project-header">
            <a href="{{ url_for('task_manager_project') }}">Task Manager</a>
            <p>basic CRUD web-app developed with Django, featuring authorization, authentication
                and several different models. It is served with Bootstrap, adding a beautiful UI touch to this project.</p>
        </div>
        <div class="project-header">
            <a href="{{ url_for('page_analyzer_project') }}">Page Analyzer</a>
            <p>mini web-app built on Flask, and designed to analyze specified pages for SEO suitability.</p>
        </div>
<!--        <div class="project-header">-->
<!--            <a href="projects/crunky-chat">Crunky Chat</a>-->
<!--            <p>lightweight messenger for console env. Yes, real-time messenger. Yes, for terminal.</p>-->
<!--        </div>-->
    </div>
    {% include 'footer.html' %}
</div>

{% endblock %}
